<div class="container">
    <div class="row" *ngFor="let product of products">
        <div class="col-md-auto">
            <div class="card pad" style="width: 18rem;"> 
                <img src="{{ product.url_image }}" class="card-img-top" alt="..."> <!--Image product-->
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4> <!--Name product-->
                    <p class="card-text">${{ product.price }}</p> <!--Price product-->
                    <a href="#" class="btn btn-primary rounded-circle border">O</a> <!--Botón carrito de compra-->
                </div>
            </div>
        </div>
    </div>
    <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
</div>