<div class="container">
    <div class="card" style="width: 18rem;"> 
        <img src="..." class="card-img-top" alt="..."> <!--Image product-->
        <div class="card-body">
            <h5 class="card-title">Card title</h5> <!--Name product-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> <!--Price product-->
            <a href="#" class="btn btn-primary">Go somewhere</a> <!--Botón carrito de compra-->
        </div>
    </div>
</div>